* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 22px Simonson;
	color: #555;
}

nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

a:hover {
	opacity: 0.5;
}

/*header*/

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;
}


@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
}



section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px;
}
@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width: 600px) {
	section {
		padding: 80px 30px;
	}
}

.fondo {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.fondo .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.fondo .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.65;
}

.fondo h1 {
	font: bold 60px 'Open Sans', Sans-serif;
	margin-bottom: 15px;
	text-transform:uppercase;
}
.fondo h3 {
	font:20px'Courier', Sans-serif;
	margin-bottom: 30px;
	color: white;
}

@media (max-width: 600px) {
	.fondo {
		min-height: 600px;
	}
	.fondo h1 {
		font-size: 48px; 
	}
	.fondo h3 {
		font-size: 22px;
	}
	.fondo a.btn {
		padding: 15px 40px;
	}
}

a.btn {
	color: white;
	font:bold 20px;
	border-radius: 4px;
	background-color: #E50101;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 10px 25px;
}



section h3 {
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', Sans-serif;
	margin-bottom: 10px;
	text-align: center;
}
section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 50px;
	padding: 0 20px;
	line-height: 2;
	font:33px'Brush Script MT', Sans-serif;
}

ul {
	list-style: none;
}
ul.gal {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.galeria {
	background-color: white;
}
.galeria .gal li {
	padding: 20px;
	height: 350px;
	border-radius: 3px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}

.galeria .gal li.small {
	flex-basis: 50%;
}
.galeria .gal .large {
	flex-basis: 50%;
}

@media (max-width: 1000px) {
	.galeria .gal li.small, .galeria .gal li.large {
		flex-basis: 100%;
	}
}
@media (max-width: 1000px) {
	.galeria .gal li.small, .galeria .gal li.large {
		flex-basis: 100%;
	}
}


.nutricion {
	background-image:url(img/imagen15.jpg);
	color:white;
	
}

.nutricion .title {
	color:white;
	text-align: center;
	width: 80%;
	font:40px'Century Gothic', Sans-serif;
	line-height: 1.5;
	padding: 0;
}

.nutricion .cont {
	text-align: center;
	width: 80%;
	font:35px'Brush Script MT', Sans-serif;
	line-height: 1.5;
	padding: 0;
}

@media (max-width: 100px) {
	.nutricion .title {
		font-size: 18px;
	}
	.nutricion .cont{
		font-size: 15px;
	}
}



.clase .grid li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}



.clase .grid li h2 {
	color: gray;
	font-size: 35px;
	margin-bottom: 30px;
	text-transform:uppercase;
	font:25px'Century Gothic', Sans-serif;
}

@media (max-width: 1000px) {
	.clase .grid li {
		flex-basis: 85%;
		margin-bottom: 65px;
	}
}

@media (max-width: 600px) {
	.clase.grid li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
}
.servicios .ser li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.servicios .ser li i {
	font-size: 50px;
	color: red;
	margin-bottom: 25px;
}

.servicios .ser li h4 {
	color: gray;
	font-size: 25px;
	margin-bottom: 20px;
}

.servicios .ser li p {
	margin: 0;
	font:20px'Courier', Sans-serif;
}
@media (max-width: 1000px) {
	..servicios .ser li {
		flex-basis: 75%;
		margin-bottom: 65px;
	}
}

@media (max-width: 600px) {
	.servicios .ser li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
}

.subs {
	background-image:url(img/imagen18.jpg);
}
.subs h3 {
	color:white;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', Sans-serif;
	margin-bottom: 10px;
	text-align: center;
}
.subs p{
	color:white;
	max-width: 800px;
	text-align: center;
	margin-bottom: 50px;
	padding: 0 20px;
	line-height: 2;
	font:33px'Brush Script MT', Sans-serif;
}
.subs form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 80%;
}

.subs form input {
	padding: 15px;
	margin-right: 30px;
	font-size: 20px;
	color: #555;
	flex: 1;
}

@media (max-width: 600px) {
	.subs form input {
		flex-basis: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: black;
	padding: 60px 0;
}

footer ul {
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li {
	margin: 0 10px;
}